<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testblogdrafttwo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />
    <!-- android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Black"
        >
        <activity
            android:name="com.example.testblogdrafttwo.DraftDemo"
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.testblogdrafttwo.ListItem" >
        </activity>
    </application>

</manifest>